<!-- templates/edit_entry.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Edit Entry</title>
</head>
<body>
    <h1>Edit Entry</h1>
<div id="floating-form">
    <form method="post" action="{{ url_for('save_edit_entry', entry_id=entry.id) }}">
        <label for="city">City:</label>
        <input type="text" id="city" name="city" value="{{ entry.city }}" required>

        <label for="radius">Radius (km):</label>
        <input type="number" id="radius" name="radius" value="{{ entry.radius }}" required>

        <button type="submit">Save Changes</button>
    </form>
    </div>
</body>
</html>
